/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Color */
.crimson {
    color: #F9322C;
}

.dodgerblue {
    color: #0D6EFD;
}

.seagreen {
    color: #198754;
}

/* Navigation Bar */
#navigation {
    height: 100px;
}

#logo {
    height: 50px;
    margin: 40px 0px;
}

#text-logo {
    font-weight: bold;
    align-items: center;
    display: flex;
}

#menu {
    margin: 40px 40px;
}

#menu-list {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: end;
}

#menu-list>li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu-list>li a:hover {
    color: rgb(209, 209, 209) !important;
}

#menu-list ul.dropdown-menu.show {
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

/* Menu Mobile */
#menu-mobile {
    display: none;
}

#menu-modal a {
    text-decoration: none;
}

.lang-collapse li {
    list-style-type: none;
    text-decoration: none;
}

@media only screen and (max-width: 992px) {

    #text-logo {
        font-weight: bold;
        align-items: center;
        display: flex;
        font-size: 100%;
    }

    #menu-mobile {
        display: flex;
        text-align: right;
        padding-right: 25px;
        align-items: center;
        justify-content: end;
    }

    #menu-desktop {
        display: none;
    }
}


/* Page */
body {
    height: 100vh;
    overflow: hidden;
}

.containerize {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.page {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_1 {
    background-color: #ffffff;
}

.page_2 {
    background-color: #ffffff;
}

.page_3 {
    background-color: #ffffff;
}

.page_4 {
    background-color: #ffffff;
}

.page_5 {
    background-color: #ffffff;
}

.scroll {
    position: absolute;
    height: 5px;
    width: 0;
    background-color: #212529;
    bottom: 0;
    left: 0;
}

#homepage {
    height: 100%;
}


/* Home Page 1 */

.home-1 {
    width: 125vh;
}

#home-row {
    display: flex;
    align-items: center;
}

.containerize .description h1 {
    font-weight: 200;
    color: #6C757D;
}

/* Monitor */
@media only screen and (max-width: 1930px) {
    .macbook {
        width: 70%;
        position: relative;
        z-index: 100;
        transform: translate(0px, 250px);
    }

    #demoCanvas {
        width: 90%;
        position: relative;
        transform: translate(0px, -100px);
    }
}

/* Home Page Macbook */
@media only screen and (max-width: 1410px) {

    .macbook {
        width: 90%;
        position: relative;
        z-index: 100;
        transform: translate(0px, 200px);
    }

    #demoCanvas {
        width: 90%;
        position: relative;
        transform: translate(0px, -120px);
    }

}

/* Home Page General Laptop */
@media only screen and (max-width: 1369px) {

    .macbook {
        width: 90%;
        position: relative;
        z-index: 100;
        transform: translate(0px, 150px);
    }

    #demoCanvas {
        width: 90%;
        position: relative;
        transform: translate(0px, -100px);
    }

}

/* Mobile Home Page */
@media only screen and (max-width: 992px) {

    .home-1 {
        top: 50px;
        width: 125vh;
    }

    .animation {
        height: 20vh;
        text-align: center;
    }

    .descriptions {
        width: 50%;
        padding-top: 10%;
    }

    .macbook {
        width: 50%;
        position: relative;
        z-index: 100;
        transform: translate(0px, 100px);
    }

    #demoCanvas {
        width: 50%;
        position: relative;
        transform: translate(0px, 0px);
    }

    .animation {
        width: 90%;
        height: 90%;
    }

    .social {
        width: 50%;
    }

}

/* Home Page iPhone 12 */
@media only screen and (max-width: 430px) and (max-height: 850px) {

    .home-1 {
        top: 20px;
        width: 100vh;
    }

    .descriptions {
        width: 75%;
        padding-top: 5% !important;
    }

    .descriptions h1 {
        width: 100%;
        font-size: 25px !important;
    }

    .social i {
        width: 100%;
        font-size: 25px !important;
        text-align: center;
    }

    .macbook {
        width: 40%;
        position: relative;
        z-index: 100;
        transform: translate(0px, 90px);
    }

    #demoCanvas {
        width: 40%;
        position: relative;
        transform: translate(0px, 0px);
    }

}

/* Features Page */
#features {
    width: 100vw;
}

#features-row {
    display: flex;
    align-items: center;
}

.feature-1-icon i {
    font-size: 100px;
}

.feature-1-icon h5 {
    font-weight: bold;
}

.feature-2-icon i {
    font-size: 100px;
}

.feature-2-icon h5 {
    font-weight: bold;
}

.feature-3-icon i {
    font-size: 100px;
}

/* Feature Page iPhone 12 */
@media only screen and (max-width: 400px) and (max-height: 850px) {

    .feature-1-icon i {
        font-size: 50px;
    }

    .feature-1-icon h5 {
        font-weight: bold;
    }

    .feature-2-icon i {
        font-size: 50px;
    }

    .feature-2-icon h5 {
        font-weight: bold;
    }

    .feature-3-icon i {
        font-size: 50px;
    }

    .feature-3-icon h5 {
        font-weight: bold;
    }
}

.feature-3-icon h5 {
    font-weight: bold;
}

/* Framework Page */
#framework {
    text-align: center;
}

#framework-img {
    width: 80%;
    transition: transform .2s ease-in-out;
}

#framework-img:hover {
    transform: scale(1.1);
}

#framework h2 {
    color: #343A40;
    font-weight: bold;
}

#framework h5 {
    color: #6C757D;
    font-weight: 200;
}

/* Mobile Framework Page */
@media only screen and (max-width: 992px) {
    #framework {
        text-align: center;
    }
}

/* Framework iPhone 12 */
@media only screen and (max-width: 400px) and (max-height: 850px) {

    #framework {
        height: 55%;
        text-align: center;
    }

    #framework-img {
        width: 60%;
        transition: transform .2s ease-in-out;
        margin: 0 auto;
    }

    #framework-img:hover {
        transform: scale(1.1);
    }

    #framework h2 {
        color: #343A40;
        font-weight: bold;
        font-size: 20px !important;
        text-align: center;
    }

    #framework h5 {
        color: #6C757D;
        font-weight: 200;
        font-size: 15px !important;
        text-align: center;
    }
}

/* Development Page */
#development h2 {
    color: #343A40;
    font-weight: bold;
}

#development h5 {
    color: #6C757D;
    font-weight: 200;
}

#development-img {
    width: 80%;
    transition: transform .2s ease-in-out;
}

#development-img:hover {
    transform: scale(1.1);
}

#development h3 {
    color: #343A40;
    font-weight: bold;
}

#development h5 {
    color: #6C757D;
    font-weight: 200;
}

/* Mobile Development Page */
@media only screen and (max-width: 992px) {
    #development {
        top: 0px !important;
        text-align: center;
    }
}

/* Development Page iPhone 12 */
@media only screen and (max-width: 400px) and (max-height: 850px) {

    #development {
        top: 0px;
        text-align: center;
    }

    #development h2 {
        color: #343A40;
        font-weight: bold;
    }

    #development h5 {
        color: #6C757D;
        font-weight: 200;
    }

    #development-img {
        width: 60%;
        transition: transform .2s ease-in-out;
    }

    #development-img:hover {
        transform: scale(1.1);
    }

    #development h3 {
        color: #343A40;
        font-weight: bold;
    }

    #development h5 {
        color: #6C757D;
        font-weight: 200;
    }
}

/* Developer Page */

#developer .title {
    color: #343A40;
    font-weight: bold;
}

#developer img {
    width: 40%;
    transition: transform .2s ease-in-out;
}

#developer img:hover {
    transform: scale(1.1);
}

/* Developer Mobile */
@media only screen and (max-width: 992px) {
    #developer {
        height: 70vh;
    }
}

/* Developer iPhone12 */
@media only screen and (max-width: 400px) and (max-height: 850px) {
    #developer {
        height: 100vh;
        padding-top: 30%;
    }

    .title {
        font-size: 20px;
    }

    #developer img {
        width: 25%;
        transition: transform .2s ease-in-out;
    }

    #developer img:hover {
        transform: scale(1.1);
    }

    #developer h5 {
        font-size: 15px;
    }

    #developer small {
        font-size: 10px;
    }
}

/* FAB */
.zoom {
    position: fixed;
    bottom: 20px;
    right: 24px;
    height: 70px;
    z-index: 1000;
}

.zoom-fab {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #F9322C;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #FFF;
}

.zoom-fab:hover {
    background-color: #DC3545;
    color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.zoom-btn {
    background-color: #ffffff;
    font-size: 20px;
}

.zoom-btn>i {
    padding-top: 15px;
    color: #ffffff;
}

.zoom-btn:hover {
    color: #ffffff;
    background-color: #ffffff;
}

.zoom-menu {
    position: absolute;
    right: 70px;
    left: auto;
    top: 50%;
    transform: translateY(-40%);
    height: 100%;
    width: 500px;
    list-style: none;
    text-align: right;
}

.zoom-menu li {
    display: inline-block;
    margin-right: 10px;
}

.zoom-card {
    position: absolute;
    right: 150px;
    bottom: 70px;
    transition: box-shadow 0.25s;
    padding: 24px;
    border-radius: 2px;
    background-color: #009688;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.zoom-card ul {
    -webkit-padding-start: 0;
    list-style: none;
    text-align: left;
}

.scale-transition {
    transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
}

.scale-transition.scale-out {
    transform: scale(0);
    transition: transform 0.2s !important;
}

.scale-transition.scale-in {
    transform: scale(1);
}

/* Mobile FAB */
@media only screen and (max-width: 992px) {
    .zoom {
        position: fixed;
        bottom: 50px;
        right: 24px;
        height: 70px;
        z-index: 1000;
    }
}

/* Preloader */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.preloader {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rotate {
    animation: rotation 1s infinite linear;
}

.rotate-hidden {
    display: none;
}

.loader-hidden {
    animation: fadeOut 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.loader-hidden-fast {
    animation: fadeOut 0.1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
