<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/auth-style.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="../assets/sweetalert2/sweetalert2.min.css">
    <script src="../assets/sweetalert2/sweetalert2.min.js"></script>
</head>

<body>

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card  w-25 w-md-75">
            <div class="card-header">
                <div class="d-flex justify-content-center">
                    <h5><i class="fa-solid fa-key"></i>&nbsp;Reset Password Page</h5>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="post" id="reset-password-form">
                    <input type="password" name="old_password" id="old_password" class="form-control my-2"
                        placeholder="Old password...">
                    <div class="error-old-password mb-3" style="color: red;"></div>

                    <input type="password" name="new_password" id="new_password" class="form-control my-2"
                        placeholder="New password...">
                    <div class="error-new-password mb-3" style="color: red;"></div>

                    <input type="password" name="confirm_password" id="confirm_password" class="form-control my-2"
                        placeholder="Confirm new password ...">
                    <div class="error-confirm-password mb-3" style="color: red;"></div>
                </form>
                <div class="d-flex justify-content-center mt-4 mb-2">
                    <button type="submit" class="btn btn-primary w-100" id="reset-password-submit">Reset
                        Password</button>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <a href="login.html">Sign In</a><a href="register.html">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/jquery-3.6.1.min.js"></script>
    <script src="../assets/jquery-validate/jquery.validate.min.js"></script>
    <script src="../assets/jquery-validate/additional-methods.min.js"></script>
    <script src="../assets/js/auth-main.js"></script>

</body>

</html>
