<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/brands.min.css" />
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/solid.min.css" />
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/all.min.css" />

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="../assets/vendor/sweetalert2/sweetalert2.min.css" />
    <script src="../assets/vendor/sweetalert2/sweetalert2.min.js"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body>
    <!-- Section: Design Block -->
    <section class="">
        <!-- Jumbotron -->
        <div class="login d-flex flex-column vh-100 text-center text-lg-start" style="background-color: #EEEEEE">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h3 class=" text-head display-2 fw-bold ls-tight">
                            Skeleton Web
                        </h3>
                        <span class="text-login display-5 fw-bold ls-tight">for your business</span>
                        <p class="mt-4" style="color: hsl(217, 10%, 50.8%)">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Eveniet, itaque accusantium
                            odio, soluta, corrupti aliquam quibusdam tempora
                            at cupiditate quis eum maiores libero veritatis?
                            Dicta facilis sint aliquid ipsum atque?
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-4 px-md-5">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-user-circle fa-3x me-3"></i>
                                    <span class="h1 fw-bold mb-0">Logo</span>
                                </div>

                                <h5 class="fw-bold pb-3" style="letter-spacing: 1px;">Create your new account</h5>
                                <form id="register-form">
                                    <!-- Email input -->
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-floating mb-3">
                                                <input name="name" type="text" class="form-control" id="floatingName"
                                                    placeholder="full name" required>
                                                <label for="floatingName">Full Name</label>
                                                <div class='error-name'></div>

                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-3">
                                                <input name="email" type="email" class="form-control" id="floatingInput"
                                                    placeholder="name@example.com" required>
                                                <label for="floatingInput">Email address</label>
                                                <div class='error-email'></div>

                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating">
                                                <input name="password" type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password" required>
                                                <label for="floatingPassword">Password</label>
                                            </div>
                                            <div class="error-password"></div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating">
                                                <input name="password_confirmation" type="password" class="form-control" id="floatingConfirmation"
                                                    placeholder="Password" required>
                                                <label for="floatingConfirmation">Password Confirmation</label>
                                            </div>
                                            <div class="error-confirmation"></div>
                                        </div>
                                    </div>

                                    <div class="row my-3 ">
                                        <div class="col-12 text-start">
                                            <!-- Checkbox -->
                                            <div class="form-check d-flex">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="form2Example33" checked />
                                                <label class="form-check-label" for="form2Example33">
                                                    I agree all statements in <a href="#!" class="link-register fw-bold"><u>Terms of service</u></a>
                                                </label>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block px-5 mb-4" id="register-submit">
                                        Register
                                    </button>

                                </form>
                                <div class="text-end">
                                    <p>Have already an account? <a href="./login.html" class="link-register fw-bold">Login here</a></p>
                                </div>
                            </div>
                        </div>
                    </div>>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
    <footer class="footer">
        <div class="text-center">
            © 2022 Copyright:
            <a class="link-register fw-bold" href="#">EntryDev</a> By Agoes29
          </div>
    </footer>


    <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/jquery/jquery-3.6.1.min.js"></script>
    <script src="../assets/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="../assets/vendor/jquery-validate/additional-methods.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>
