<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/brands.min.css" />
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/solid.min.css" />
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/all.min.css" />

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="../assets/vendor/sweetalert2/sweetalert2.min.css" />
    <script src="../assets/vendor/sweetalert2/sweetalert2.min.js"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body>
    <!-- Section: Design Block -->
    <section class="">
        <!-- Jumbotron -->
        <div class="login d-flex flex-column vh-100 text-center text-lg-start" style="background-color: #EEEEEE">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="hide col-lg-6 mb-5 mb-lg-0">
                        <h3 class=" text-head display-2 fw-bold ls-tight">
                            Skeleton Web
                        </h3>
                        <span class="text-login display-5 fw-bold ls-tight">for your business</span>
                        <p class="mt-4" style="color: hsl(217, 10%, 50.8%)">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Eveniet, itaque accusantium
                            odio, soluta, corrupti aliquam quibusdam tempora
                            at cupiditate quis eum maiores libero veritatis?
                            Dicta facilis sint aliquid ipsum atque?
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-4 px-md-5">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-user-circle fa-3x me-3"></i>
                                    <span class="h1 fw-bold mb-0">Logo</span>
                                </div>

                                <h5 class="fw-bold pb-3" style="letter-spacing: 1px;">Reset your password</h5>
                                <form id="reset-password-form">
                                    <!-- Email input -->
                                    <div class="form-floating mb-3">
                                        <input name="old_password" type="password" class="form-control" id="old-password"
                                            placeholder="password">
                                        <label for="old-password">Old Password</label>
                                        <div class='error-old-password'></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-3">
                                                <input name="new_password" type="password" class="form-control" id="new-password"
                                                    placeholder="new password">
                                                <label for="new-password">New Password</label>
                                                <div class='error-new-password'></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-3">
                                                <input name="confirm_password" type="password" class="form-control" id="confirm-password"
                                                    placeholder="confirmpassword">
                                                <label for="confirm-password">Confirm new password</label>
                                                <div class='error-confirm'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block px-5 mb-4" id="reset-password-submit">
                                        Reset Password
                                    </button>

                                </form>
                                <div class="row pt-3 mb-3">
                                    <div class="col-lg-6">
                                        <div class="text-start">
                                            <p>Have already an account? <a href="./login.html" class="link-register fw-bold">Login here</a></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="text-end">
                                            <p>Don't have an account? <a href="./register.html" class="link-register fw-bold">Register here</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>

    <footer class="footer">
        <div class="text-center">
            © 2022 Copyright:
            <a class="link-register fw-bold" href="#">EntryDev</a> By Agoes29
          </div>
    </footer>
    <!-- Section: Design Block -->

    <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/jquery/jquery-3.6.1.min.js"></script>
    <script src="../assets/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="../assets/vendor/jquery-validate/additional-methods.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>
