.list-unstyled-border li {
    border-bottom: 1px solid var(--entry-list-border);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.list-unstyled-border li .custom-checkbox {
    margin-right: 15px;
}

.list-unstyled-border li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.list-unstyled-border li:last-child {
    border-bottom: none;
}

.list-group-item.active {
    background-color: var(--entry-radio-control);
}

.list-group-item.disabled {
    color: var(--entry-list-disable);
}

.list-group-item-primary {
    background-color: var(--entry-primary);
    color: #fff;
}

.list-group-item-secondary {
    background-color: var(--entry-secondary);
    color: #fff;
}

.list-group-item-success {
    background-color: var(--entry-success);
    color: #fff;
}

.list-group-item-danger {
    background-color: var(--entry-danger);
    color: #fff;
}

.list-group-item-warning {
    background-color: var(--entry-warning);
    color: #fff;
}

.list-group-item-info {
    background-color: var(--entry-info);
    color: #fff;
}

.list-group-item-light {
    background-color: var(--entry-light);
    color: #191d21;
}

.list-group-item-dark {
    background-color: var(--entry-dark);
    color: #fff;
}
